@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --red:#d01c28;
    --grey:#2e2e2e;
}

button{
    all: unset;
    color: white;
    background: var(--red);
    padding: 6px 16px;
    height: 32px;
    font-weight: 500;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
 
    height: 72px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
    
} 
nav ul li{
    font-size: 20px;
    font-weight: 600;
}

.hero{
    display: flex ;
    align-items: center;
    height: calc(100vh - 72px);
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.hero h1{
    font-weight: 800;
    font-size: 108px;
    line-height: 102px;
}
.hero p{
    font-weight:600;
    color: var(--grey );
    max-width: 400px;
} 
.hero-button {
    display: flex;
    gap: 40px;
    font-size: 25px;
}
.second-btn{
    background: transparent;
    border: 1px solid var(--grey);
    color: var(--grey);
}
.shopping{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.shopping p{
    font-size: 20px;
}

.brand-icons{
    display: flex;
    gap: 16px
}
